jdbc=true
jdbc.name=jdbc/TestDB
jdbc.query=select * from dual

ldap=false
ldap.url=ldap://ldap.example.com:389
#ldap.username=
#ldap.password=
ldap.lookupdn=cn=foo,ou=bar,o=mycompany

jms=true
jms.cfname=jms/TestCF
jms.destname=jms/TestQueue

mail=false
mail.host=smtp.example.com
#mail.username=
#mail.password=
mail.to=fred@example.com
mail.from=alice@example.com
